@import "src/utils/themes/variables.module";

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrowLeft, .arrowRight {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba($primary-background, .2);
  width: 80px;
  color: $primary-main;
  &:hover {
    cursor: pointer;
    background-color: rgba($primary-background, .3);
    color: $secondary-main;
  }
}
.arrowLeft {
  left: 0;
}
.arrowRight {
  right: 0;
}

.visibleItem {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list {
  height: 100%;
  display: flex;
  transition: all ease 0.5s;
  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}

.circleWrapper {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 1;
  display: flex;
}

.circle {
  border: 1px solid $primary-main;
  box-shadow: 0 0 2px $primary-background;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  &:hover {
    border: 1px solid $secondary-main;
    box-shadow: 0 0 2px $secondary-main;
  }
}

.active {
  background-color: $secondary-main;
  border: 1px solid $secondary-main;
  box-shadow: 0 0 2px $secondary-main;
}