$primary-light: orange;
$primary-main: #fff;
$primary-background: #000;

$secondary-light: red;
$secondary-main: gold;
$secondary-dark: red;

$text-disabled: #ccc;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Alegreya', serif;
$font: 'Rakkas', cursive;