$primary-main: #fff;
$primary-dark: #c5c5c5;
$primary-background: #000;

//$secondary-light: red;
$secondary-main: gold;
$secondary-dark: #BB9E00FF;

$text-disabled: #ccc;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$font: 'Rakkas', cursive;