$primary-light: orange;
$primary-main: #fff;
$primary-dark: orange;
$primary-text: orange;

$secondary-light: red;
$secondary-main: red;
$secondary-dark: red;
$secondary-text: red;

$text-disabled: #ccc;
$text-disabled: #ccc;
$text-hint: #fbba00;

$background-default: #000;