@import "./src/utils/themes/variables.module";

.headerWrapper {
  padding-bottom: 147px;
}

.header {
  background-color: $primary-background;
  color: $primary-main;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.rowRight {
  display: flex;
  text-align: right;
  font-family: $secondary-font;
  font-size: 20px;
  text-transform: capitalize;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}